html {
    background-color: #212121;
}

p {
    font-weight: 500;
}

a:visited {
    text-decoration: none;
    color: #E0E0E0;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    color: #E0E0E0;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #4a4a4a;
}

input, select {
    width: 120px;
    background: #121212;
    border: none;
    border-radius: 4px;
    padding: 1rem;
    height: 50px;
    margin: 0.25em;
    font-size: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.input-group-text {
    width: 120px;
    background: #121212;
    border: none;
    border-radius: 4px;
    padding: 1rem;
    height: 50px;
    margin-left: -0.5em;
    z-index: -1;
    font-size: 1rem;
    box-shadow: 0 10px 20px -20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.inputMedium {
    width: 155px;
}

.inputSmall {
    width: 85px;
}

.inputLarge {
    width: 260px;
}

label {
    margin-right: 1em;
    font-size: 1.15rem;
    display: inline-block;
    width: 85px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.btn {
    background: #303F9F;
    color: #EEEEEE;
    border-radius: 4px;
}

.btnLarge {
    width: 262px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-nav {
    flex-grow: 1;
    flex-shrink: 0;
    background: #303F9F;
    height: 3rem;
}

.featured {
    background: #3F51B5;
    color: #ffffff;
    padding: 1em;
}

.featured h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.flex-card {
    overflow-y: hidden;
    flex: 1;
    flex-shrink: 0;
    flex-basis: 400px;
    display: flex;
    flex-wrap: wrap;
    background: #212121;
    margin: .5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.flex-card div {
    flex: 100%;
}

.fit-content {
    height: fit-content;
}

.flex-card .hero {
    position: relative;
    color: #ffffff;
    height: 70px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) no-repeat;
    background-size: cover;
}

.flex-card .hero h3 {
    position: absolute;
    bottom: 15px;
    left: 0;
    padding: 0 1rem;
}

.content {
    min-height: 100%;
    min-width: 400px;
}

.flex-card .content {
    color: #BDBDBD;
    padding: 1.5rem 1rem 2rem 1rem;
}